.reveal table, .reveal table tr, .reveal table td {
   border: 0;
   border-spacing: 0;
   padding: 0px;
   border-collapse: collapse;
   /*background-color: black;*/
}

.reveal td p {
    margin: 5px 0;
}

.reveal code {
    font-family: "Droid Sans Mono", consolas, monospace;
    color: #e1e1e1;
    background-color: #212d30;
}